body{
    background:url(../img/diceRollBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
    /* background-color: rgb(36, 34, 34); */
}
/* @media screen and (min-width:768px){
    .dice img{
        width: 100px;
        height:100px;
    }
}
@media screen and (min-width:1400px){
    .dice img{
        width: 100px;
        height:100px;
    }
} */
header{
    position: fixed;
    width: 100%;
    background-color: red;
}
header p{
    color: chartreuse;
    text-align: center;
}
h1{
    color: chartreuse;
    text-align: center;
   
    font-size: 40px;
}
label{
    color: chartreuse;
    background-color: red;
   
}
form {
text-align: center;

}

/* .board img{
    border: white solid 3px;
    width: 500px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    box-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 20px black;
    position: sticky;
}
.board{
    margin-top: 15em;
} */
.blue-piece img{
    width: 50px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    shadow: 1px 1px 2px white, 0 0 25px white, 0 0 20px white;
    position: sticky;
    z-index: 3;

    
}
.dice-split{
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dice-split .results{
    /* align-content: right; */
}
.dice-container{
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    background-color: #191818;
    padding: 1em;
    /* margin-left: 2em; */
    /* margin-top: 8em; */
    border-radius: 12px;
    margin-left: 20px;;
}
.dice img{
    width: 100px;
    height: 100px;
}
.results{
    /* width: 50%; */
    min-height: 200px;
    padding: 20px;;
    background-color: white;
    border: solid black 3px;
    border-radius: 10px;
    /* margin: 0 auto; */
    margin-right: 20px;;
    
}

section.results{
    overflow: scroll;
    /* margin: 3em; */
}

h2{
    font-size: 38px;
    color:red;
    font-weight: bold;
    text-align: center;
}

ul.roll-results {
}

ul.roll-results li:first-child {
    opacity: 1;
    font-size: 1.4em;
    

}
ul.roll-results li {
    opacity: 0.5;
}

.diceResult4{
    color: blue;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.diceResult6{
    color: green;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.diceResult8{
    color: orange;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.diceResult10{
    color: purple;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.diceResult20{
    color: darkred;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.animation{
    animation: rotation 1s infinite linear;
    
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }



